@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-sky-50;
}
html, body, #root {
  width: 100%;
  min-height: 100%;
  background-color: #f8fbff; /* หรือ white */
}